<TREE>
	<TITLE>eProcurement</TITLE>
	<HREF></HREF>
	<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
	<ITEM>
		<TITLE>Contract Processing</TITLE>
		<HREF></HREF>
		<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
		<ITEM FID="S-0002">
		<!-- This node is tied to function, set FID = "Function id"-->
		<!-- If this node is tied to multiple functions, set FID = "F001,F002,F003".-->
			<TITLE>Acknowledge Contract</TITLE>
			<HREF>~/PurchaseContract/PurchaseContractList.aspx</HREF>
		</ITEM>
		<ITEM FID="S-0008">
			<TITLE>Enquiry Contract</TITLE>
			<HREF>~/PurchaseContract/EnquiryPurchaseContractList.aspx?FunctionId=S-0008</HREF>
		</ITEM>
    <ITEM FID="B-0005">
      <TITLE>Enquiry Contract</TITLE>
      <HREF>~/PurchaseContract/EnquiryPurchaseContractList.aspx?FunctionId=B-0005</HREF>
    </ITEM>
	</ITEM>
  <ITEM>
    <TITLE>Order Processing</TITLE>
    <HREF></HREF>
    <!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
    <ITEM FID="S-0001">
      <TITLE>Acknowledge Order</TITLE>
      <HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=S-0001</HREF>
    </ITEM>
    <ITEM FID="B-0004">
      <TITLE>Acknowledge Order</TITLE>
      <HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=B-0004</HREF>
    </ITEM>
    <ITEM FID="B-0001">
      <TITLE>Accept Order Acknowledgement</TITLE>
      <HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=B-0001</HREF>
    </ITEM>
    <ITEM FID="S-0002">
      <TITLE>Enquiry Order</TITLE>
      <HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=S-0002</HREF>
    </ITEM>
    <ITEM FID="B-0002">
      <TITLE>Enquiry Order</TITLE>
      <HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=B-0002</HREF>
    </ITEM>
    <ITEM FID="S-0004">
      <TITLE>Create Delivery Order</TITLE>
      <HREF>~/DeliveryOrder/PurchaseOrderList.aspx</HREF>
    </ITEM>
    <ITEM FID="S-0005">
      <TITLE>Enquire Delivery Orders</TITLE>
      <HREF>~/DeliveryOrder/EnqDeliveryOrders.aspx?FunctionId=S-0005</HREF>
    </ITEM>
    <ITEM FID="W-0001">
      <TITLE>Enquire Delivery Orders</TITLE>
      <HREF>~/DeliveryOrder/EnqDeliveryOrders.aspx?FunctionId=W-0001</HREF>
    </ITEM>
    <ITEM FID="S-0015">
      <TITLE>Acknowledge Rejected Goods</TITLE>
      <HREF>~/DeliveryOrder/GoodRejAck.aspx</HREF>
    </ITEM>
    <ITEM FID="S-0016">
      <TITLE>Enquire Goods Rejection</TITLE>
      <HREF>~/DeliveryOrder/GoodsRejEnqPrnt.aspx</HREF>
    </ITEM>
  </ITEM>  
  <ITEM>
    <TITLE>Purchase Expediting</TITLE>
    <HREF></HREF>
    <ITEM FID="B-0010">
      <TITLE>Purchase Expediting Process</TITLE>
      <HREF>~/Expediting/MaterialShortageList.aspx?FunctionId=B-0010</HREF>
    </ITEM>
    <ITEM FID="B-0011">
      <TITLE>View Shortage List</TITLE>
      <HREF>~/Expediting/MaterialShortageList.aspx?FunctionId=B-0011</HREF>
    </ITEM>
    <ITEM FID="B-0013">
      <TITLE>Expedite Deliveries</TITLE>
      <HREF>~/Expediting/ExpediteDeliveries.aspx</HREF>
    </ITEM>
    <ITEM FID="S-0013">
      <TITLE>Acknowledge Expedite Deliveries</TITLE>
      <HREF>~/Expediting/AckExpeditingList.aspx</HREF>
    </ITEM>
    <ITEM FID="B-0014">
      <TITLE>Accept Expedite Acknowledgement</TITLE>
      <HREF>~/Expediting/ConfirmExpeditingAckmt.aspx</HREF>
    </ITEM>
	</ITEM>
	<ITEM>
		<TITLE>Quotation Processing</TITLE>
		<HREF></HREF>
		<ITEM FID="B-0007">
			<TITLE>Create RFQ</TITLE>
			<HREF>~/Quotation/QuotationRequestCreate.aspx</HREF>
		</ITEM>
    <ITEM FID="S-0010">
      <TITLE>Process Quotation</TITLE>
      <HREF>~/Quotation/ProcessQuotationList.aspx</HREF>
    </ITEM>
    <ITEM FID="B-0008,S-0011">
      <TITLE>Quotation List</TITLE>
      <HREF>~/Quotation/QuotationRequestList.aspx</HREF>
    </ITEM>
	</ITEM>	
	<ITEM>
		<TITLE>User Profile</TITLE>
		<HREF></HREF>
		<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
		<ITEM FID="U-0001">
			<TITLE>User List</TITLE>
			<HREF>~/UserManagement/UserList.aspx</HREF>
		</ITEM>
		<ITEM FID="U-0002">
			<TITLE>My Profile</TITLE>
			<HREF>~/UserManagement/User.aspx</HREF>
		</ITEM>
		<ITEM FID="U-0003">
			<TITLE>Change My Password</TITLE>
			<HREF>~/UserManagement/UserPassword.aspx</HREF>
		</ITEM>
	</ITEM>
</TREE>
