<TREE>
	<TITLE>eProcurement</TITLE>
	<HREF></HREF>
	<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
	<ITEM>
		<TITLE>Contract Processing</TITLE>
		<HREF></HREF>
		<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
		<ITEM FID="S-0002">
		<!-- This node is tied to function, set FID = "Function id"-->
		<!-- If this node is tied to multiple functions, set FID = "F001,F002,F003".-->
			<TITLE>Acknowledge Contract</TITLE>
			<HREF>~/PurchaseContract/PurchaseContractList.aspx</HREF>
		</ITEM>
		<ITEM FID="S-0003">
			<TITLE>Enquiry Contract</TITLE>
			<HREF>~/PurchaseContract/PurchaseContractList.aspx</HREF>
		</ITEM>
	</ITEM>
	<ITEM>
		<TITLE>Order Processing</TITLE>
		<HREF></HREF>
		<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
		<ITEM FID="S-0001">
			<TITLE>Acknowledge Order</TITLE>
			<HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=S-0001</HREF>
		</ITEM>
		<ITEM FID="B-0001">
			<TITLE>Accept Order Acknowledgement</TITLE>
			<HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=B-0001</HREF>
		</ITEM>
    <ITEM FID="S-0002">
      <TITLE>Enquiry Order (Supplier)</TITLE>
      <HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=S-0002</HREF>
    </ITEM>
    <ITEM FID="B-0002">
      <TITLE>Enquiry Order (Buyer)</TITLE>
      <HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=B-0002</HREF>
    </ITEM>
    <ITEM FID="B-0011">
      <TITLE>View Shortage List</TITLE>
      <HREF>~/Expediting/MaterialShortageList.aspx?FunctionId=B-0011</HREF>
    </ITEM>
    <ITEM FID="B-0010">
      <TITLE>Process Shortage List</TITLE>
      <HREF>~/Expediting/MaterialShortageList.aspx?FunctionId=B-0010</HREF>
    </ITEM>
    <ITEM FID="B-0004">
      <TITLE>Acknowledge Order by Buyer</TITLE>
      <HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=B-0004</HREF>
    </ITEM>
    <ITEM FID="B-0013">
      <TITLE>Expedite Deliveries</TITLE>
      <HREF>~/Expediting/ExpediteDeliveries.aspx</HREF>
    </ITEM>
    <ITEM FID="B-0014">
      <TITLE>Accept Expedite Acknowledgement</TITLE>
      <HREF>~/Expediting/AcceptExpediteAckmt.aspx</HREF>
    </ITEM>
	</ITEM>
	<ITEM>
		<TITLE>Quotation Processing</TITLE>
		<HREF></HREF>
		<ITEM FID="S-0010">
			<TITLE>Create RFQ</TITLE>
			<HREF>~/"~/Quotation/QuotationRequestCreate.aspx"?FunctionId=S-0010</HREF>
		</ITEM>
	</ITEM>	
	<ITEM>
		<TITLE>User Profile</TITLE>
		<HREF></HREF>
		<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
		<ITEM FID="U-0001">
			<TITLE>User List</TITLE>
			<HREF>~/UserManagement/UserList.aspx</HREF>
		</ITEM>
		<ITEM FID="U-0002">
			<TITLE>My Profile</TITLE>
			<HREF>~/UserManagement/User.aspx</HREF>
		</ITEM>
		<ITEM FID="U-0003">
			<TITLE>Change My Password</TITLE>
			<HREF>~/UserManagement/UserPassword.aspx</HREF>
		</ITEM>
	</ITEM>
</TREE>
