<TREE>
	<TITLE>eProcurement</TITLE>
	<HREF></HREF>
	<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
	<ITEM>
		<TITLE>Contract Processing</TITLE>
		<HREF></HREF>
		<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
		<ITEM FID="S-0002">
		<!-- This node is tied to function, set FID = "Function id"-->
		<!-- If this node is tied to multiple functions, set FID = "F001,F002,F003".-->
			<TITLE>Acknowledge Contract</TITLE>
			<HREF>~/PurchaseContract/PurchaseContractList.aspx</HREF>
		</ITEM>
		<ITEM FID="S-0003">
			<TITLE>Enquiry Contract</TITLE>
			<HREF>~/PurchaseContract/PurchaseContractList.aspx</HREF>
		</ITEM>
	</ITEM>
	<ITEM>
		<TITLE>Order Processing</TITLE>
		<HREF></HREF>
		<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
		<ITEM FID="S-0001">
			<TITLE>Acknowledge Order</TITLE>
			<HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=S-0001</HREF>
		</ITEM>
		<ITEM FID="B-0001">
			<TITLE>Accept Order Acknowledgement</TITLE>
			<HREF>~/PurchaseOrder/PurchaseOrderList.aspx?FunctionId=B-0001</HREF>
		</ITEM>
	</ITEM>
	<ITEM>
		<TITLE>User Profile</TITLE>
		<HREF></HREF>
		<!-- This node is not tied to function, just a menu group name, set <HREF> = "". -->
		<ITEM FID="F-U001">
			<TITLE>User List</TITLE>
			<HREF>~/UserManagement/UserList.aspx</HREF>
		</ITEM>
		<ITEM FID="F-U002">
			<TITLE>My Profile</TITLE>
			<HREF>~/UserManagement/User.aspx</HREF>
		</ITEM>
		<ITEM FID="F-U003">
			<TITLE>Change My Password</TITLE>
			<HREF>~/UserManagement/UserPassword.aspx</HREF>
		</ITEM>
	</ITEM>
</TREE>
